html {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

body div {
  width: 360px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

body#printer div {
  width: 420px;
}

footer {
  border-top: 2px solid #6586BA;
  width: 360px;
  margin: 1em auto 0 auto;
  text-align: center;
}

footer ul {
  font-size: .75em;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
  padding: 0 1em;
}

footer ul li a, footer ul li a:visited {
  display: inline;
  color: #999;
  padding: .5em .5em .25em .5em;
}

footer ul li a:hover {
  color: #fff;
}

h1 {
  color: #fff;
  background-color: #6586BA;
  margin: 0 0 1em 0;
  text-align: center;
  border-bottom: 1px solid #555;
  box-shadow: #ccc 0 0 20px;
}

h2 {
  margin: 0 0 15px 10px;
  text-shadow: #eaeaea 2px 2px 2px;
  text-align: center;
}

ul#buildings  {
  list-style-type: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  height: 422px;
  padding: 0;
  margin: 0;
}

ul#buildings li {
  height: 40px;
  width: 180px;
  padding: 0;
  margin: 0;
}

ul#buildings li.special {
  font-weight: bold;
  font-style:italic
}


a, a:visited {
  color: #333;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #fff;
  background-color: rgb(71, 101, 150);
}

ul#buildings li a, ul#buildings li a:visited {
  padding: 0 0 0 10px;
  height: 40px;
  width: 220px;
  display: inline-block;
  line-height: 2;
  vertical-align: center;
}

h1 a, h1 a:visited {
  color: #fff;
  display: block;
  width: 100%;
  padding: .25em 0;
  text-shadow: #666 2px 2px 0;
}

h1 a:hover {
  color: #fff;
  background-color: none;
  text-shadow: #555 -2px -2px 0;
}

/* Form styles based on 
    http://www.alistapart.com/articles/prettyaccessibleforms/
*/
form.printform {
  text-align: center;
}

form.printform fieldset {
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

form.printform legend {
  padding: 0 2px;
  font-weight: bold;
}

form.printform label {
  display: inline-block;
  line-height: 1.0;
  vertical-align: top;
  padding-top: 3px;
}

form.printform fieldset ol {
  margin: 0;
  padding: 0;
}

form.printform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

form.printform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}

form.printform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}

form.printform fieldset fieldset label {
  display: block;
  width: auto;
}

form.printform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form.printform label {
  width: 120px; /* Width of labels */
}

form.printform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

form.printform input {
  height: 16px;
  font-size: 12px;
  width: 170px;
}

form.printform input[type="checkbox"] {
  margin-left: 0;
  width: 15px;
  height: 15px;
}

form.printform small {
  margin: 0 0 0 130px;
  color: #666;
  font-size: .6em;
  width: 250px;
}

p {line-height: 1.5em;}

form.printform .error {
  font-size: .6em;
  color: #fff;
  background: red;
  display: inline-block;
  padding: .25em;
  margin: 0 0 0 120px;
}

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-blue {
  background-color: rgb(101, 134, 186);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(101, 134, 186)), to(rgb(71, 101, 150)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgb(101, 134, 186), rgb(71, 101, 150));
  background-image: -moz-linear-gradient(top, rgb(101, 134, 186), rgb(71, 101, 150));
  background-image: -ms-linear-gradient(top, rgb(101, 134, 186), rgb(71, 101, 150));
  background-image: -o-linear-gradient(top, rgb(101, 134, 186), rgb(71, 101, 150));
  background-image: linear-gradient(top, rgb(101, 134, 186), rgb(71, 101, 150));
  border: 1px solid rgb(141, 171, 220);
  border-bottom: 1px solid rgb(51, 81, 120);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font: bold 20px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 2;
  margin-top: 15px;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #444;
  width: 240px; }

button.cupid-blue:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgb(81, 111, 160), rgb(51, 81, 130));
  background-image: -moz-linear-gradient(top, rgb(81, 111, 160), rgb(51, 81, 130));
  background-image: -ms-linear-gradient(top, rgb(81, 111, 160), rgb(51, 81, 130));
  background-image: -o-linear-gradient(top, rgb(81, 111, 160), rgb(51, 81, 130));
  background-image: linear-gradient(top, rgb(81, 111, 160), rgb(51, 81, 130));
  cursor: pointer;
}

button.cupid-blue:active {
  border: 1px solid rgb(81, 111, 160);
  border-bottom: 1px solid rgb(51, 81, 130);
  -webkit-box-shadow: inset 0 0 8px 4px rgb(51, 81, 130), 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px rgb(51, 81, 130), 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 8px 4px rgb(51, 81, 130), 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 8px 4px rgb(51, 81, 130), 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px rgb(51, 81, 130), 0 1px 0 0 #eeeeee;
}
