html {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

body div {
  width: 440px;
  margin: 0 auto;
}

body#printer div {
  width: 420px;
}

footer {
  border-top: 2px solid #6586BA;
  width: 440px;
  margin: 1em auto 0 auto;
}

footer ul {
  font-size: .75em;
  padding: 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 1em;
}

footer ul li a, footer ul li a:visited {
  display: inline;
  color: #999;
  padding: .5em .5em .25em .5em;
}

footer ul li a:hover {
  color: #fff;
}

h1 {
  color: #fff;
  background-color: #6586BA;
  margin: 0 0 1em 0;
  text-align: center;
  border-bottom: 1px solid #555;
  box-shadow: #ccc 0 0 20px;
}

h2 {
  margin-top: 1em;
  text-align: center;
  text-shadow: #eaeaea 2px 2px 2px;
}

ul#buildings  {
  list-style-type: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  height: 422px;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul#buildings li {
  height: 40px;
  width: 220px;
  padding: 0;
  margin: 0;
}


a, a:visited {
  color: #333;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #fff;
  background-color: #6586BA;
}

ul#buildings li a, ul#buildings li a:visited {
  padding: 0;
  height: 40px;
  width: 220px;
  display: inline-block;
  line-height: 2;
  vertical-align: center;
}

h1 a, h1 a:visited {
  color: #fff;
  display: block;
  width: 100%;
  padding: .25em 0;
  text-shadow: #666 2px 2px 0;
}

h1 a:hover {
  color: #333;
  background-color: none;
  text-shadow: #999 -2px -2px 0;
}

h1 a, h1 a:visited {
	color: #fff;
}

h1 a:hover {
	color: #333;
}

/* Form styles based on 
    http://www.alistapart.com/articles/prettyaccessibleforms/
*/
form.printform {
  margin-bottom: 1.5em;
  text-align: center;
}

form.printform fieldset {
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

form.printform legend {
  padding: 0 2px;
  font-weight: bold;
}

form.printform label {
  display: inline-block;
  line-height: 1.0;
  vertical-align: top;
  padding-top: 3px;
}

form.printform fieldset ol {
  margin: 0;
  padding: 0;
}

form.printform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

form.printform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}

form.printform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}

form.printform fieldset fieldset label {
  display: block;
  width: auto;
}

form.printform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form.printform label {
  width: 120px; /* Width of labels */
}

form.printform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

form.printform input {
  height: 16px;
  font-size: 12px;
  width: 170px;
}

form.printform input[type="checkbox"] {
  margin-left: 0;
  width: 15px;
  height: 15px;
}

form.printform button {
  width: 33%;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 2em;
  color: #fff;
  background-color: #6586BA;
  border: 1px solid #ccc;
  box-shadow: inset #ccc -2px -2px 0;
  text-shadow: #444 1px 1px 0;
}

form.printform button:active {
  color: #ccc;
  background-color: #666;
  box-shadow: inset #333 2px 2px 0;
  position: relative;
  top: 2px;
  left: 2px;
  text-shadow: #444 -1px -1px 0;
}

form.printform small {
  margin: 0 0 0 130px;
  color: #666;
  font-size: .6em;
  width: 250px;
}

p {line-height: 1.5em;}
