<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}CUPrint: Printing made easy{% endblock %}</title>
    {% block init %}
    <link href="/static/main.css" rel="stylesheet" type="text/css"/>
    {% endblock %}
  </head>
  <body id="{% block pageid %}{% endblock %}">
  <h1><a href="/">cuprint</a></h1>
  <div>
  {% block body %}
  {% endblock %}
  </div>
  <footer>
    <ul>
      <li><a href="/help">Help</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/terms">Terms of Use</a></li>
    </ul>
  </footer>
  </body>
</html>
